{% extends "base.html" %}

{% block title %}Meu blog{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Olá {{request.user.username}} </h1>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <p>{{ product_form.as_p }}</p>
            <p><button type="submit" class="save btn btn-default">Postar</button></p>
        </form>
    {% else %}
        <h1>Bem vindo a Verdureira Online</h1>
    {% endif %}

{% endblock %}